.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: var(--size-5);
}

.label {
    background-color: var(--character-light-dividers);
    padding: 3.5px var(--size-4);
}

.exerciseForm {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }

    .approachesField {
        max-width: 120px;
        margin-right: var(--size-14);

        @media (max-width: 360px) {
            margin-right: var(--size-8);
        }
    }

    .exerciseField {
        margin-bottom: var(--size-4);
    }

    .field {
        max-width: 89px;
    }

    :global {
        .ant-col.ant-form-item-label {
            padding: 0 0 0 var(--size-4);
            text-align: left;
            background-color: var(--character-light-dividers);
            margin-bottom: var(--size-3);
        }

        .ant-form-item-label label{
            height: var(--size-12);
            font-size: var(--font-xs);
        }

        .ant-row.ant-form-item-row {
            flex-direction: column;
        }

        .ant-input-number {
            width: 100%;
        }
    }
}
