.drawerInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--size-4);
}

.btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--size-4) var(--size-10);
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    background-color: var(--character-light-dividers);

    :global(.anticon-plus) svg {
        fill: var(----primary-light-6);
    }
}
