.wrapper {
    height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    text-align: center;
}

.title:global(.ant-typography) {
    color: @primary-dark-color;
}
