.card {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 5%;
    width: 264px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

    :global {
        .ant-divider.ant-divider-horizontal {
            border: none;
        }

        .ant-card-body {
            padding: 0;
        }

        .ant-divider {
            margin: 0;
        }
    }
}

.cardHeader {
    padding: var(--size-9) 9px;
    display: flex;
    gap: var(--size-7);
}

.cardContent {
    padding: var(--size-9) 9px;
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    min-height: 130px;
}
