.trainingCalendar {
    background: var(--primary-light-1);

    @media (max-width: 575px) {
        padding: 0 var(--size-8) var(--size-12);
    }

    :global {
        td.ant-picker-cell {
            padding: 0 var(--size-1) !important;
        }

        .ant-picker-calendar-date-value {
            z-index: 3;
        }

        .ant-select {
            text-align: center;
            @media (max-width: 575px) {
                max-width: 68px;
            }
        }

        .ant-picker-calendar-header {
            @media (max-width: 575px) {
                display: flex;
                background: var(--neutral-gray-1);
            }

            .ant-radio-group {
                margin: 0 var(--size-4);

                @media (max-width: 575px) {
                    width: 40%;
                    margin: 0 0 0 var(--size-4);
                }
            }
        }

        .ant-radio-button-wrapper {
            max-width: 80px;
            text-align: center;
            border-radius: var(--radius-xs) 0 0 var(--radius-xs);
        }

        .ant-radio-button-wrapper:hover {
            color: var(--primary-light-11);
        }

        .ant-radio-button-wrapper-checked {
            color: var(--primary-light-11);
        }

        .ant-radio-button-checked {
            border: 1px solid var(--primary-light-11);
        }

        thead {
            th {
                color: var(--neutral-gray-9);

                @media (max-width: 575px) {
                    background: var(--neutral-gray-1);
                }
            }

            background: var(--primary-light-1);
        }

        .ant-picker-calendar-mode-switch{
            margin: 0;
        }


        .ant-picker-panel {
            .ant-picker-body {
                padding: 0;
                background: var(--primary-light-1);

                @media (max-width: 575px) {
                    background: var(--neutral-gray-1);
                    padding-top: var(--size-4);
                }

                .ant-picker-cell-disabled {
                    pointer-events: auto;

                }
            }

            .ant-picker-calendar-date-content {
                overflow-y: visible;
            }

            .ant-picker-cell-in-view {
                .ant-picker-calendar-date-value {
                    color: var(--neutral-gray-11);
                }
            }

            .ant-picker-cell {
                .ant-picker-calendar-date-today {
                    border-color: var(--primary-light-11);
                    background: var(--neutral-gray-1);

                    .ant-picker-calendar-date-value {
                        color: var(--neutral-gray-11);
                        text-align: right;
                    }
                }
            }

            .ant-picker-cell-inner {
                background: var(--neutral-gray-1);
                margin: 0 var(--size-1);
                padding: var(--size-2) var(--size-4);

                @media (max-width: 575px) {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                @media (min-width: 576px) {
                    min-height: 143px;
                }

                &:hover {
                    background: var(--neutral-gray-1);
                }

                &:before {
                    border: 1px solid var(--primary-light-11);
                }
            }

            .ant-picker-cell-inner:has(div#hiddenTrainingList) {
                @media (max-width: 575px) {
                    background-color: var(--neutral-gray-3);
                }
            }

            .ant-picker-cell-selected {
                .ant-picker-calendar-date {
                    background: var(--neutral-gray-1);

                    .ant-picker-calendar-date-value {
                        color: var(--neutral-gray-11);
                    }
                }
            }
        }

        .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
            bottom: auto;
        }
    }
}
