.wrapper {
    max-width: 752px;

    @media (max-width: 575px) {
        padding: var(--size-10) var(--size-6);
    }
}

.featuresCard {
    color: var(--primary-light-9);
    font-size: var(--font-base);
    line-height: var(--line-height-base);

    :global {
        .ant-typography {
            margin-bottom: 0;
            color: var(--primary-light-9);
        }

        .ant-list-item {
            color: var(--primary-light-9);
            font-size: var(--font-base);
            line-height: var(--line-height-base);
        }

        .ant-list-split .ant-list-item {
            border-bottom: none;
        }

        .ant-card-body {
            @media (max-width: 575px) {
                padding: var(--size-8);
            }
        }
    }
}

.infoCard {
    :global {
        h4.ant-typography {
            line-height: var(--line-height-base);
        }

        .ant-card-body {
            @media (max-width: 575px) {
                padding: var(--size-8);
            }
        }
    }
}

.actionList {
    margin-top: -10px;

    :global {
        .ant-row {
            gap: var(--size-4) 0;

            .ant-list-item {
                margin-bottom: 0;
            }

            @media (max-width: 575px) {
                gap: var(--size-4);
            }
        }
    }
}

.actionCard {
    text-align: center;

    a {
        display: flex;
        align-items: center;
        gap: var(--size-4);
        svg {
            fill: var(--primary-light-6);
        }
    }

    @media (max-width: 834px) {
        text-align: left;
    }

    @media (max-width: 575px) {
        text-align: center;
    }

    :global {
        .ant-card-head {
            padding: 0 var(--size-12);
        }

        .ant-card-head-title {
            font-size: var(--font-base);
            font-weight: var(--fw-regular);
            line-height: var(--line-height-base);
        }

        .ant-card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            gap: var(--size-5);
            color: var(--primary-light-6);

        }

        .ant-card-head-title {
            white-space: normal;
        }

    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;

        svg {
            fill: var(--primary-light-6);
        }
    }
}
