.layout {
    min-height: 100vh;
    background-image: url('/img/bg-main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.open {
    margin-left: 208px;

    @media (max-width: 425px) {
        margin-left: 0;
    }
}

.close {
    margin-left: 64px;

    @media (max-width: 425px) {
        margin-left: 0;
    }
}
