.trainingTable {
    max-width: 555px;
    margin-bottom: 24px;

    :global {
        .ant-table table {
            border-spacing: 12px 0;

            @media (max-width: 375px) {
                border-spacing: 8px 0;
            }

            button.ant-btn.ant-btn-link {
                padding: 0;
            }

            td.ant-table-cell {
                padding: 0;
            }
        }

        .ant-table-thead {
            font-size: 12px;
            margin: 24px;

            th.ant-table-cell {
                background-color: @bg-gray;
                border: none;
            }

            th:last-child {
                background-color: @white;
                border: none;
            }

            th.ant-table-cell::before {
                opacity: 0;
            }
        }

        td.ant-table-cell:last-child {
            border-bottom: none;
        }

        .ant-pagination {
            margin: 24px 0 32px;
        }
    }
}

.cellContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
