.wrapperLeft,
.wrapperRight {
    position: absolute;
    top: -12px;
    z-index: 15;

    @media (max-width: 575px) {
        top: -20px;
        width: 100%;
        padding: 0 24px;
    }
}

.wrapperLeft {
    left: -9px;
    @media (max-width: 575px) {
        left: 0;
    }
}

.wrapperRight {
    right: -9px;
    @media (max-width: 575px) {
        right: 0;
    }
}

.card {
    width: 264px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

    @media (max-width: 575px) {
        width: 100%;
    }

    :global {


            .ant-popover-inner-content {
                @media (max-width: 575px) {
                    padding: 0;
                }
            }


        .ant-card-head {
            min-height: 0;
            border-bottom: none;
            line-height: @line-height-base;
        }

        .ant-card-body {
            padding: 0;
        }

        .ant-card-head-title,
        .ant-card-extra,
        .ant-card-meta-avatar,
        .ant-card-actions {
            padding: 0 12px;
        }

        .ant-card-head-title {
            font-size: 14px;
            margin-bottom: 8px;
        }

        .ant-card-meta {
            padding: 0;
            flex-direction: column-reverse;
        }

        .ant-divider {
            margin: 0;
        }
    }
}

.cardSelect {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-left: 10px;
    line-height: @line-height-base;
}

.buttonGroup {
    flex-direction: column;
}

.editBadgeWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 90px;
    padding: 16px 0;
}
