.card {
    max-width: 1088px;
    margin: 0 auto;
    border-radius: var(--radius-xs) var(--size-8) var(--size-8);

    :global {
        .ant-card-body {
            min-height: 151px;
            padding: var(--size-10) var(--size-10) var(--size-10) var(--size-6);
        }
    }

    @media (max-width: 1024px) {
        border-radius: var(--radius-xs);
    }
}

.wrapper {
    display: flex;
    gap: var(--size-4);

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size-6);
    }
}

.userInfo {
    display: block;
    min-width: 174px;
    text-align: center;

    :global(.ant-typography + h5.ant-typography ) {
        margin-top: 0;
        line-height: 1;
    }

    @media (max-width: 1024px) {
        display: flex;
        gap: var(--size-8);
        min-width: 100%;
        text-align: left;
        margin-bottom: var(--size-2);
    }
}

.avatar {
    margin-bottom: var(--size-6);

    @media (max-width: 1024px) {
        margin-bottom: 0;
    }
}

.trainingInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-4);
    flex-wrap: wrap;

    :global {
        .ant-btn.ant-btn-link.ant-btn-sm {
            padding: 0;
        }

        h5.ant-typography {
            margin-top: 0;
            color: var(--primary-light-9);
            font-weight: var(--fw-bold);
            line-height: var(--line-height-base);
        }
    }
}

.date {
    color: var(--neutral-gray-6);
    @media (max-width: 1024px) {
        margin-bottom: var(--size-2);
    }
}

.showDetailsBtn {
    position: relative;
    @media (max-width: 1024px) {
        margin-top: var(--size-3);
    }
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-8);

    @media (max-width: 1024px) {
        width: 100%;
        gap: var(--size-6);
        margin-top: var(--size-12);
    }
}

