.card {
    max-width: 1088px;
    margin: 0 auto;
    border-radius: 2px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.02);

    :global {
        .ant-card-body {
            padding: 20px 20px 20px 12px;
        }
    }
}

.wrapper {
    display: flex;
    gap: 8px;

    @media (max-width: 575px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.userInfo {
    display: block;
    min-width: 174px;
    text-align: center;
    :global(.ant-typography + h5.ant-typography ) {
        margin-top: 0;
        line-height: 1;
    }

    @media (max-width: 768px) {
        min-width: 100px;
    }

    @media (max-width: 575px) {
        display: flex;
        gap: 16px;
    }

    .avatar {
        margin-bottom: 12px;

        @media (max-width: 575px) {
            margin-bottom: 0;
        }
    }
}

.trainingInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;

    :global {
        .ant-btn.ant-btn-link.ant-btn-sm {
            padding: 0;
        }

        h5.ant-typography {
            margin-top: 0;
            color: @primary-dark-color;
            font-weight: 700;
            line-height: 1.3;
        }
    }
}

.date {
    color: @light-gray;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

