.card {
    min-width: 234px;
    padding: 16px 16px 36px;
    background-color: @bg-color-light;

    :global(div.ant-card-body) {
        padding: 0;
    }
}

.myPartnerCard {
    background-color: transparent;
    padding: 12px;
}

.partnerInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

.trainingInfo {
    display: flex;
    justify-content: space-between;
}

.trainingInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 14px;
    font-size: 12px;
}

.trainingData {
    color: @primary-color;
    font-weight: 500;
    font-size: 14px;
}

.highlight {
    color: red;
}

.partnerStatus {
    position: absolute;
    bottom: 8px;
    left: 12%;
    display: flex;
    gap: 8px;
}
