.card {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 36px;
    background-color: @bg-color-light;
    border-radius: 2px;
    gap: 12px;
}

.partnerInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.partnerName {
    //width: 45px;
}

.trainingInfo {
    display: flex;
    justify-content: space-between;
}

.trainingInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
    font-size: 12px;
}

.trainingData {
    color: @primary-color;
    font-weight: 500;
    font-size: 14px;
}

.highlight {
    color: red;
}
