.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.partnerInfo {
    display: flex;
    align-items: center;
    gap: var(--size-4);
}

.partnerName {
    word-spacing: 500px;
    word-break: break-word;
    flex: 0 1 auto;
}

.partnerAvatar {
    flex: 0 0 auto;
}
