.header {
    height: auto;
    padding: 15px 40px 20px 15px;
    line-height: 1.3;
    background: @layout-header-background;

    @media (max-width: 575px) {
        padding: 15px 35px 20px 25px;
        margin-bottom: 7px;
    }

    a {
        display: block;
        margin-bottom: 15px;

        @media (max-width: 575px) {
            margin-bottom: 10px;
        }
    }

    h1 {
        font-weight: 700;
        line-height: 1.3;

        @media (max-width: 834px) {
            font-weight: 500;
            font-size: @font-extra-lg;
        }

        @media (max-width: 575px) {
            font-size: @font-lg;
        }
    }

    :global(.ant-breadcrumb ol li) {
        display: flex;
    }

    :global(.ant-breadcrumb ol li span a) {
        margin-bottom: 0;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.link {
    color: @dark-text;
    margin-left: auto;
}

.settings {
    @media (max-width: 834px) {
        display: none;
    }
    @media (max-width: 575px) {
        display: block;
        position: relative;
        z-index: 3;

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: @white;
            width: 32px;
            height: 32px;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            border-radius: 50%;
            z-index: -3;
            border: 1px solid #D9D9D9;
        }
    }
}
