.header {
    height: auto;
    padding: var(--size-8) var(--size-21) var(--size-10) 15px;
    line-height: var(--line-height-base);
    background: @layout-header-background;

    @media (max-width: 575px) {
        padding: var(--size-8) var(--size-12);
        margin-bottom: 7px;
    }

    a {
        display: block;
        margin-bottom: 15px;

        @media (max-width: 575px) {
            margin-bottom: var(--size-5);
        }
    }

    h1 {
        font-weight: var(--fw-bold);
        line-height: var(--line-height-base);

        @media (max-width: 834px) {
            font-weight: var(--fw-medium);
            font-size: var(--font-2xl);
        }

        @media (max-width: 575px) {
            font-size: var(--font-xl);
        }
    }

    .profile {
        font-size: var(--font-sm);
        padding: var(--size-2) 0;

        @media (min-width: 835px) {
            position: absolute;
            font-size: var(--font-base);
        }

        @media (max-width: 575px) {
            padding: 0;
        }
    }

    .settings {
        display: flex;
        align-items: center;
        gap: var(--size-6);
    }

    :global{
        .ant-breadcrumb {
            margin-bottom: var(--size-7);

            @media (max-width: 535px) {
                margin-bottom: 0;
            }
        }

        .ant-breadcrumb ol li {
            display: flex;
        }

        .ant-breadcrumb ol li span a {
            margin-bottom: 0;
        }
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 575px) {
        margin-top: 0;
    }
}

.link {
    color: var(--character-light-primary-85);
    margin-left: auto;
}

.settingsBtn {
    @media (max-width: 834px) {
        display: none;
    }

    @media (max-width: 575px) {
        display: block;
        position: relative;
        z-index: 3;

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: var(--neutral-gray-1);
            width: var(--size-16);
            height: var(--size-16);
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            border-radius: 50%;
            z-index: -3;
            border: 1px solid var(----character-light-border);
        }
    }
}
