.infoByDays {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 200px;
}

.list {
    :global {
        .ant-badge {
            display: flex;
            align-items: center;
            padding: 8px 0;
        }
    }
}
