.footer {
    padding: var(--size-12) 0 0;

    @media (max-width: 575px) {
        padding: 0 var(--size-6);
    }
}

.row {
    justify-content: space-between;
    gap: var(--size-12);

    @media (max-width: 575px) {
        justify-content: center;

        a.link {
            order: 2;
        }

        div {
            width: 100%;
        }
    }
}

.link {
    color: var(--primary-light-6);
    font-size: var(--font-base);
    padding-bottom: var(--size-5);
}

.card {
    min-width: 240px;

    :global {
        .ant-card-head {
            padding: 0 var(--size-12);

            .ant-card-head-title {
                padding: 0;
            }
        }

        .ant-card-body {
            padding: var(--size-10) var(--size-6);
        }

        @media (max-width: 575px) {
            .ant-card-body {
                padding: 15px 25px;
            }
        }

    }
}

.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-4);

    @media (max-width: 575px) {
        align-items: center;
    }
}

.downloadBtn {
    font-weight: var(--fw-regular);
    font-size: var(--font-base);
    color: var(--primary-light-6);
}

.proTariff {
    font-weight: var(--fw-regular);
    color: var(--neutral-gray-7);
}

.phones {
    display: flex;
    gap: var(--size-12);
    a {
        color: var(--character-light-primary-85);
    }

    @media (max-width: 575px) {
        justify-content: space-around;
    }
}


