.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
    transition: width 0.3s ease-in;

    &[data-collapsed='true'] {
        @media (max-width: 575px) {
            width: 0;
        }

        .logoWrapper {
            padding: 45px 18px 53px;
        }
    }
}

.sidebar {
    transition: all 0.3s ease-in;
    @media (max-width: 575px) {
        transition: none;
    }
}

.logoWrapper {
    padding: 45px 30px 53px;
    text-align: center;
    transition: all 0.3s ease-in;

    @media (max-width: 575px) {
        padding: 16px 19px 25px;
    }
}

.logo {
    @media (max-width: 575px) {
        display: none;
    }
}

.mobile {
    display: none;
    @media (max-width: 575px) {
        display: block;
    }
}

.exitBtn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 16px;
    color: black;
    transition: all 0.3s ease-in;

    &:hover {
        color: @primary-color;
    }

    @media (max-width: 575px) {
        justify-content: center;
    }
}

.divider {
    margin: 0;
}

.toggler {
    position: absolute;
    right: 0;
    top: 47%;

    @media (max-width: 575px) {
        top: 25px;
    }

    button {
        position: absolute;
        width: 20px;
        height: 66px;
        border: transparent;
        color: @gray;
        clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);

        &:hover, &:active, &:focus {
            background-color: @white;
            color: @gray;
        }

        @media (max-width: 575px) {
            width: 32px;
            height: 48px;
        }
    }
}

