.layout {
    min-height: 100vh;
    background: url('/img/bg-main.png') center/cover no-repeat;
}

.calendarLayout {
    min-height: 100vh;
    background-color: var(--primary-light-1);
}

.settingsLayout {
    min-height: 100vh;
    background-color: var(--neutral-gray-3);
}

.open {
    margin-left: 208px;
    transition: all 0.3s ease-in;

    @media (max-width: 575px) {
        margin-left: 0;
    }
}

.close {
    margin-left: 64px;
    transition: all 0.3s ease-in;

    @media (max-width: 575px) {
        margin-left: 0;
    }
}

.content {
    padding: var(--size-12);

    @media (max-width: 575px) {
        flex: 0 1 auto;
        padding: var(--size-10) 0;
    }
}
