.footer {
    padding: 24px 0 0;

    @media (max-width: 575px) {
        padding: 0 12px;
    }
}

.row {
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 575px) {
        justify-content: center;

        a.link {
            order: 2;
        }

        div {
            width: 100%;
        }
    }
}

.link {
    color: @primary-color;
    font-size: @font-md;
    padding-bottom: 10px;
}

.card {
    min-width: 240px;

    :global {
        .ant-card-head {
            padding: 0 24px;

            .ant-card-head-title {
                padding: 0;
            }
        }

        .ant-card-body {
            padding: 20px 12px;
        }

        @media (max-width: 575px) {
            .ant-card-body {
                padding: 15px 25px;
            }
        }

    }
}

.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    @media (max-width: 575px) {
        align-items: center;
    }
}

.downloadBtn {
    font-weight: 400;
    font-size: @font-md;
    color: @primary-color;
}

.proTariff {
    font-weight: 400;
    color: @gray;
}

.phones {
    display: flex;
    gap: 30px;
    a {
        color: @dark-text;
    }

    @media (max-width: 575px) {
        justify-content: space-around;
    }
}


