.drawer {
    :global {
        .ant-drawer-header {
            border-bottom: none;
        }

        .ant-drawer-title {
            font-size: var(--font-xl);
        }

        button.ant-btn span svg {
            width: var(--size-7);
            height: var(--size-7);
            color: var(--neutral-gray-7);
        }

        .ant-drawer-body {
            min-height: 280px;

            @media (max-width: 575px) {
                padding: var(--size-8);
            }
        }

        .ant-drawer-content-wrapper,
        .ant-drawer-content {
            border-radius: var(--radius-lg) 0 0 var(--radius-lg);

            @media (max-width: 575px) {
                min-height: 90%;
                border-radius: var(--size-12) var(--size-12) 0 0;
            }
        }
    }
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-7);
    margin: var(--size-12) 0;

    @media (max-width: 575px) {
        margin-top: 0;
    }
}

.free,
.pro {
    padding: var(--size-2) var(--size-4);
    min-width: 56px;
    font-size: var(--font-sm);
    text-align: center;
    text-transform: uppercase;
}

.free {
    background-color: var(--character-light-dividers);
}

.pro {
    background-color: var(--primary-light-1);
    color: var(--primary-light-7);
}

.itemWrapper {
    display: flex;
    width: 100%;

    span {
        flex: 1 1 auto;
    }

    .icons {
        display: flex;
        gap: var(--size-7);

        div {
            padding: 0 19px;
        }
    }

    div {
        justify-self: center;
    }

    svg {
        width: var(--size-9);
        height: var(--size-9);
    }
}

.comparisonForm {
    margin-bottom: 80px;
    width: 100%;

    @media (max-width: 575px) {
        margin-bottom: var(--size-12);
    }
}

.priceTitle {
    font-size: var(--font-sm);
    font-weight: var(--fw-bold);
    margin-bottom: var(--size-12);
}

.expireProDate {
    padding: var(--size-6) 0;
    margin-bottom: 48px;
    text-align: center;
    background-color: rgba(240, 245, 255, 1);

    h5 {
        color: var(--primary-light-10);
    }
}
