.wrapper {
    display: flex;
    flex-direction: column;
    gap: 132px;

    @media (max-width: 575px) {
        gap: 48px;
    }
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 575px) {
        gap: 16px;
        padding: 20px 12px;
    }
}

.btnWrapper {
    @media (max-width: 575px) {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px 12px 0;
    }
}
