.wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;

    @media (max-width: 575px) {
        gap: var(--size-26);
    }
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-10);
    max-height: 620px;
    overflow-y: auto;
    padding-right: var(--size-4);
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--neutral-gray-7);
        border-radius: 4px;
    }

    @media (max-width: 575px) {
        gap: var(--size-8);
        padding: var(--size-10) var(--size-6);
    }
}

.btnWrapper {
    @media (max-width: 575px) {
        display: flex;
        flex-direction: column;
        gap: var(--size-8);
        padding: var(--size-16) var(--size-6) 0;
    }
}
