.wrapper {
    display: flex;
    flex-direction: column;
    gap: 132px;

    @media (max-width: 575px) {
        gap: 48px;
    }
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-10);

    @media (max-width: 575px) {
        gap: var(--size-8);
        padding: var(--size-10) var(--size-6);
    }
}

.btnWrapper {
    @media (max-width: 575px) {
        display: flex;
        flex-direction: column;
        gap: var(--size-8);
        padding: var(--size-16) var(--size-6) 0;
    }
}
