.card {
    margin-bottom: 40px;
    background-color: #FAFAFA;

    :global {
        .ant-card-actions {
            background-color: #FAFAFA;

            li {
                border-right: none;
            }
        }
    }
}

.cardHeader {
    text-align: center;

    :global {
        h3.ant-typography {
            margin-bottom: 32px;
            font-weight: 500;
            color: @primary-dark-color;
        }
    }
}
