//Colors
@heading-color: #262626;
@link-color: currentColor;
@background-color-light: #F0F5FF;
@item-active-bg: #F0F5FF;

// Layout
@layout-header-background: #F0F5FF;
@layout-sider-background: #fff;
@layout-body-background: transparent;

// Sizes
@card-head-padding-sm: 12px;
@typography-title-margin-bottom: 0;
@border-radius-base: 2px;
@card-radius: @border-radius-base;
@list-item-padding: 0;

//Fonts
@line-height-base: 1.3;
@typography-title-font-weight: 400;

// Menu
@list-item-padding: 0;
@list-item-padding-sm: 0;
@list-item-padding-lg: 0;
@menu-item-padding-horizontal: 0;
@menu-item-padding: 0;
