.contentWrapper {
    position: relative;
    background: var(--neutral-gray-1);
    border-radius: var(--radius-lg);
    padding: var(--size-12);
    width: 100%;
    min-height: 886px;

    @media (max-width: 834px) {
        min-height: 1032px;
    }

    @media (max-width: 575px) {
        min-height: 667px;
        padding: var(--size-8);
        border-radius: 0;
    }
}

.tabs {
    :global {
        .ant-tabs-nav-wrap,
        .ant-tabs-nav-list {
            width: 100%;
        }

        .ant-tabs-nav-list {
            justify-content: space-between;
        }

        .ant-tabs-tab-btn {
            font-size: var(--font-2xl);

            @media (max-width: 834px) {
                font-size: var(--font-sm);
            }
        }

    }
}

.filterItem {
    padding: 0 var(--size-4);
    border: 1px solid var(--primary-light-3);
    border-radius: var(--radius-xs);
}

:global(.ant-tag-checkable-checked)  {
    background: var(--primary-light-1);
    color: #2F54EB;
}

.trainingLoad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 150px;

    &:not(:last-child) {
        margin-bottom: var(--size-26);
    }

    @media (max-width: 1224px) {
        gap: 60px;
    }

    @media (max-width: 1100px) {
        gap: var(--size-12);
    }

    @media (max-width: 1100px) {
        &:last-child {
            margin-top: var(--size-12);
        }

        &:not(:last-child) {
            margin-bottom: var(--size-12);
        }
    }
}

.trainingLoadMonth {
    flex-direction: column;
    gap: var(--size-12);
}

.chartWrapperColumn {
    position: relative;
    max-width: 520px;
    width: 100%;

    @media (max-width: 1100px) {
        max-width: 100%;
    }

    :global {
        .ant-card-body {
            padding: 0;
        }
    }
}

.chartWrapperPie {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 374px;
    max-width: 520px;

    @media (max-width: 1100px) {
        width: 100%;
        max-height: 234px;
        min-height: 234px;
        padding-top: var(--size-12);
    }

    :global {
        .ant-card-body {
            padding: 0;
        }
    }
}

.chartWrapperMonth {
    max-width: 100%;
}
