.title {
    margin-bottom: var(--size-8);
}

.contentWrapper {
    background: var(--neutral-gray-1);
    border-radius: var(--radius-lg);
    padding: var(--size-12);
    width: 100%;
    min-height: 886px;

    @media (max-width: 834px) {
        min-height: 1032px;
    }

    @media (max-width: 575px) {
        min-height: 667px;
        padding: var(--size-8) var(--size-12);
        border-radius: 0;
    }
}

.btnWrapper {
    display: flex;
    align-items: center;
    gap: var(--size-9);
    flex-wrap: wrap;

    @media (max-width: 525px) {
        flex-direction: column;

        button {
            width: 100%;
        }
    }
}
